@import "../variables/variables.scss";

@media only screen 
and (min-device-width: 922px) and (min-width : 922px) {

    h3 {
        font-size: 28px;
        font-weight: 600;
        line-height:  1.5em;
    }

    p { 
        line-height: 1.5em;
    }

    .app-container {
        display: flex;
        flex-flow: column;
        height: 100%;
        background: #070724;

        .app-menu-top {
            display: flex;
            flex-flow: row;
            align-items: center;
            border-bottom: 1px solid rgba(151, 151, 151, .3);
            padding: 1.5em 1em 1em 1em;
            background: url("../assets/background-stars.svg") no-repeat left top;

            .app-menu-text-mobile {
                display: none;
                visibility: hidden;
            }

            .app-menu-icon-mobile {
                display: none;
                visibility: hidden;
            }
            
            .app-menu-text-tablet {
                width: 100%;
                display: flex;
                flex-flow: row;
                
                h3 {
                    font-size: 28px;
                }
            }

            .app-menu-planet-selector-tablet {
                display: flex;
                flex-flow: row;
                justify-content: space-around;
                align-content: center;
                //padding: 3em 0em 1em 0em;
                font-size: 9px;
                opacity: .8;
                letter-spacing: 1px;
                font-family: $spartan;
                flex-basis: 100%;
                height: 100%;

                .app-menu-planet-select {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    
                }
            }
        }

        .app-menu-planet-wrapper {
            display: flex;
            flex-flow: column;
            font-family: $spartan;
            font-weight: 600;
            padding: 1em 0em 0em 0em;
            margin: 0em 2em;

            .app-menu-planet-box {
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid rgba(151, 151, 151, .3);
                margin: 0em 1em;
                padding: 2em 0em;
                

                .app-menu-planet-dot {
                    flex-basis: 10%;
                    
                    .app-menu-dot {
                        width: 20px;
                        height: 20px;
                        border-radius: 50px;
                    }
                }

                .app-menu-planet-text {
                    flex: 1;
                    
                    p {
                        font-size: 15px;
                    }
                }

                .app-menu-planet-arrow {
                    
                }
            }
        }

        .planet-page-info-container {
            display:flex;
            flex-flow: row wrap;
            flex: 1;
            background: url("../assets/background-stars.svg");
            margin: 5em 2em;
            
            .planet-page-info-select-box-mobile {
                display: none;
                visibility: hidden;
            }

            

            .planet-page-planet-image {
                display: none;
                visibility: hidden;
                
            }

            .planet-page-planet-image-desktop {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                flex-basis: 50%;
                
                img {
                    width: 50%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .planet-page-text-info-mobile {
                display: none;
                visibility: hidden;
            }

            .planet-page-text-info-tablet {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                min-height: 500px;
                flex-basis: 50%;
                
                .planet-page-text-info {
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    flex-basis: 100%;
                    margin-left: 8em;
                    gap: 20px;

                    .planet-page-planet-name {
                        font-family: $antonio;
                    }

                    h1 {
                        font-size: 48px;
                        font-weight: 800;
                        
                    }

                    .planet-page-planet-bio {
                    
                        p {
                            font-size: 11px;
                            font-family: $spartan;
                            line-height: 22px;
                            text-align: left;
                            font-weight: 300;
                        }
                    }

                    .planet-page-planet-wiki {
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        font-size: 12px;
                        font-family: $spartan;
                        font-weight: 300;
                        opacity: .5;

                        span {
                            text-decoration: underline;
                            font-weight: 800;
                            padding-right: .5em;
                        }
                    }
                }

                .planet-page-info-select-box-tablet {
                    display: flex;
                    flex-flow: column;
                    flex-basis: 100%;
                    margin-left: 8em;
                    gap: 10px;
                    
                    .selected {
                        //background: #6D2ED5!important;
                    }

                    .planet-page-info-select:hover { 
                        background: #1d1d1d;
                        cursor: pointer;
                    }

                    .planet-page-info-select {
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        font-size: 9px;
                        border: 1px solid rgba(255, 255, 255, .3);
                        font-family: $spartan;
                        letter-spacing: 1.93px;
                        height: 40px;
                        

                        span { 
                            opacity: .5;
                            flex-basis: 20%;
                            text-align: center;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-flow: row;
                            align-items: center;
                            justify-content: center;
                        }

                        p {
                            flex-basis: 80%;
                            font-weight: 600;
                            height: 100%;
                            display: flex;
                            flex-flow: row;
                            align-items: center;
                        }
                        
                    }
                }
            }

            .planet-page-stat-box {
                display: flex;
                flex-flow: row;
                flex-basis: 100%;
                justify-content: space-between;
                align-self: flex-end;
                gap: 10px;

                .planet-page-stat {
                    display: flex;
                    flex-flow: column;
                    border: 1px solid rgba(151, 151, 151, .3);
                    padding: 1em 5em 1em 1em;
                    //flex-basis: 25%;
                    

                    .planet-page-stat-name {
                        font-size: 16px;
                        font-weight: 800;
                        opacity: .5;
                        letter-spacing: .73px;
                    }

                    .planet-page-stat-stat {
                        text-align: left;
                    }
                }
            }
        }
    }
}

/*
                 */
                