@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: white; }

.mercury-dot {
  background: #DEF4FC; }

.venus-dot {
  background: #F7CC7F; }

.earth-dot {
  background: #545BFE; }

.mars-dot {
  background: #FF6A45; }

.jupiter-dot {
  background: #ECAD7A; }

.saturn-dot {
  background: #FCCB6B; }

.uranus-dot {
  background: #65F0D5; }

.neptune-dot {
  background: #497EFA; }

.mercury-select-bg {
  background: #419EBB !important; }

.venus-select-bg {
  background: #EDA249 !important; }

.earth-select-bg {
  background: #6D2ED5 !important; }

.mars-select-bg {
  background: #D14C32 !important; }

.jupiter-select-bg {
  background: #D83A34 !important; }

.saturn-select-bg {
  background: #CD5120 !important; }

.uranus-select-bg {
  background: #1EC1A2 !important; }

.neptune-select-bg {
  background: #2D68F0 !important; }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3), (max-device-width: 667px), (max-width: 767px) {
  .mercury-select-bg {
    background: none !important;
    border-bottom: 4px solid #419EBB !important; }
  .venus-select-bg {
    background: none !important;
    border-bottom: 4px solid #EDA249 !important; }
  .earth-select-bg {
    background: none !important;
    border-bottom: 4px solid #6D2ED5 !important; }
  .mars-select-bg {
    background: none !important;
    border-bottom: 4px solid #D14C32 !important; }
  .jupiter-select-bg {
    background: none !important;
    border-bottom: 4px solid #D83A34 !important; }
  .saturn-select-bg {
    background: none !important;
    border-bottom: 4px solid #CD5120 !important; }
  .uranus-select-bg {
    background: none !important;
    border-bottom: 4px solid #1EC1A2 !important; }
  .neptune-select-bg {
    background: none !important;
    border-bottom: 4px solid #2D68F0 !important; } }

.mercury-border-top {
  border-top: 4px solid #419EBB !important; }

.venus-border-top {
  border-top: 4px solid #EDA249 !important; }

.earth-border-top {
  border-top: 4px solid #6D2ED5 !important; }

.mars-border-top {
  border-top: 4px solid #D14C32 !important; }

.jupiter-border-top {
  border-top: 4px solid #D83A34 !important; }

.saturn-border-top {
  border-top: 4px solid #CD5120 !important; }

.uranus-border-top {
  border-top: 4px solid #1EC1A2 !important; }

.neptune-border-top {
  border-top: 4px solid #2D68F0 !important; }

html {
  height: 100%;
  overflow-x: hidden; }

body, #root {
  height: 100%;
  font-family: "Antonio", sans-serif;
  color: white;
  background: #070724; }

.mercury-dot {
  background: #DEF4FC; }

.venus-dot {
  background: #F7CC7F; }

.earth-dot {
  background: #545BFE; }

.mars-dot {
  background: #FF6A45; }

.jupiter-dot {
  background: #ECAD7A; }

.saturn-dot {
  background: #FCCB6B; }

.uranus-dot {
  background: #65F0D5; }

.neptune-dot {
  background: #497EFA; }

.mercury-select-bg {
  background: #419EBB !important; }

.venus-select-bg {
  background: #EDA249 !important; }

.earth-select-bg {
  background: #6D2ED5 !important; }

.mars-select-bg {
  background: #D14C32 !important; }

.jupiter-select-bg {
  background: #D83A34 !important; }

.saturn-select-bg {
  background: #CD5120 !important; }

.uranus-select-bg {
  background: #1EC1A2 !important; }

.neptune-select-bg {
  background: #2D68F0 !important; }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3), (max-device-width: 667px), (max-width: 767px) {
  .mercury-select-bg {
    background: none !important;
    border-bottom: 4px solid #419EBB !important; }
  .venus-select-bg {
    background: none !important;
    border-bottom: 4px solid #EDA249 !important; }
  .earth-select-bg {
    background: none !important;
    border-bottom: 4px solid #6D2ED5 !important; }
  .mars-select-bg {
    background: none !important;
    border-bottom: 4px solid #D14C32 !important; }
  .jupiter-select-bg {
    background: none !important;
    border-bottom: 4px solid #D83A34 !important; }
  .saturn-select-bg {
    background: none !important;
    border-bottom: 4px solid #CD5120 !important; }
  .uranus-select-bg {
    background: none !important;
    border-bottom: 4px solid #1EC1A2 !important; }
  .neptune-select-bg {
    background: none !important;
    border-bottom: 4px solid #2D68F0 !important; } }

.mercury-border-top {
  border-top: 4px solid #419EBB !important; }

.venus-border-top {
  border-top: 4px solid #EDA249 !important; }

.earth-border-top {
  border-top: 4px solid #6D2ED5 !important; }

.mars-border-top {
  border-top: 4px solid #D14C32 !important; }

.jupiter-border-top {
  border-top: 4px solid #D83A34 !important; }

.saturn-border-top {
  border-top: 4px solid #CD5120 !important; }

.uranus-border-top {
  border-top: 4px solid #1EC1A2 !important; }

.neptune-border-top {
  border-top: 4px solid #2D68F0 !important; }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3), (max-device-width: 667px), (max-width: 767px) {
  h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5em; }
  p {
    line-height: 1.5em; }
  .app-container {
    height: 100%;
    background: #070724; }
    .app-container .app-menu-top {
      display: flex;
      flex-flow: row;
      align-items: center;
      flex: 1;
      border-bottom: 1px solid rgba(151, 151, 151, 0.3);
      padding: 1.5em 1em;
      background: url("../assets/background-stars.svg") no-repeat left top; }
      .app-container .app-menu-top .app-menu-text-mobile {
        flex-basis: 75%; }
      .app-container .app-menu-top .app-menu-icon-mobile {
        flex-basis: 25%;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-self: center; }
        .app-container .app-menu-top .app-menu-icon-mobile .app-menu-icon-box img {
          width: 24px;
          height: 17px;
          opacity: .5; }
      .app-container .app-menu-top .app-menu-text-tablet {
        display: none;
        visibility: hidden; }
      .app-container .app-menu-top .app-menu-planet-selector-tablet {
        display: none;
        visibility: hidden; }
    .app-container .app-menu-planet-wrapper {
      display: flex;
      flex-flow: column;
      font-family: "Spartan", sans-serif;
      font-weight: 600;
      padding: 1em 0em 5em 0em; }
      .app-container .app-menu-planet-wrapper .app-menu-planet-box {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(151, 151, 151, 0.3);
        margin: 0em 1em;
        padding: 2em 0em; }
        .app-container .app-menu-planet-wrapper .app-menu-planet-box .app-menu-planet-dot {
          flex-basis: 15%; }
          .app-container .app-menu-planet-wrapper .app-menu-planet-box .app-menu-planet-dot .app-menu-dot {
            width: 20px;
            height: 20px;
            border-radius: 50px; }
        .app-container .app-menu-planet-wrapper .app-menu-planet-box .app-menu-planet-text {
          flex: 1; }
          .app-container .app-menu-planet-wrapper .app-menu-planet-box .app-menu-planet-text p {
            font-size: 15px; }
    .app-container .planet-page-info-container {
      display: flex;
      flex-flow: column;
      background: url("../assets/background-stars.svg");
      height: 100%;
      opacity: 1;
      width: 100%; }
      .app-container .planet-page-info-container .planet-page-info-select-box-mobile {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding: 0em 1.5em;
        border-bottom: 1px solid rgba(151, 151, 151, 0.3); }
        .app-container .planet-page-info-container .planet-page-info-select-box-mobile .planet-page-info-select:hover {
          border-bottom: 4px solid white;
          cursor: pointer; }
        .app-container .planet-page-info-container .planet-page-info-select-box-mobile .planet-page-info-select {
          letter-spacing: 1.93px;
          padding: 1.5em 0em; }
      .app-container .planet-page-info-container .planet-page-planet-image-desktop {
        display: none;
        visibility: hidden; }
      .app-container .planet-page-info-container .planet-page-planet-image {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        padding: 3em 0em;
        width: 100%;
        height: 100%; }
        .app-container .planet-page-info-container .planet-page-planet-image img {
          width: 50%;
          height: auto;
          object-fit: cover;
          transform: scale(0.7); }
      .app-container .planet-page-info-container .planet-page-text-info-mobile {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0em 1.5em; }
        .app-container .planet-page-info-container .planet-page-text-info-mobile h1 {
          font-size: 40px;
          font-weight: 800;
          padding: 0em 0em .5em 0em; }
        .app-container .planet-page-info-container .planet-page-text-info-mobile .planet-page-planet-bio p {
          font-size: 12px;
          font-family: "Spartan", sans-serif;
          line-height: 22px;
          text-align: center;
          font-weight: 300; }
        .app-container .planet-page-info-container .planet-page-text-info-mobile .planet-page-planet-wiki {
          display: flex;
          flex-flow: row;
          align-items: center;
          padding: 2em 0em 2em 0em;
          font-size: 12px;
          font-family: "Spartan", sans-serif;
          font-weight: 300;
          opacity: .5; }
          .app-container .planet-page-info-container .planet-page-text-info-mobile .planet-page-planet-wiki span {
            text-decoration: underline;
            font-weight: 800;
            padding-right: .5em; }
      .app-container .planet-page-info-container .planet-page-text-info-tablet {
        display: none;
        visibility: hidden; }
      .app-container .planet-page-info-container .planet-page-stat-box {
        display: flex;
        flex-flow: column; }
        .app-container .planet-page-info-container .planet-page-stat-box .planet-page-stat {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          border: 1px solid rgba(151, 151, 151, 0.3);
          padding: .5em 1.5em;
          margin: .5em 1.5em; }
          .app-container .planet-page-info-container .planet-page-stat-box .planet-page-stat .planet-page-stat-name {
            flex: 1;
            font-size: 16px;
            font-weight: 800;
            opacity: .5;
            letter-spacing: .73px; }
          .app-container .planet-page-info-container .planet-page-stat-box .planet-page-stat .planet-page-stat-stat {
            flex: 1;
            text-align: right; } }

.mercury-dot {
  background: #DEF4FC; }

.venus-dot {
  background: #F7CC7F; }

.earth-dot {
  background: #545BFE; }

.mars-dot {
  background: #FF6A45; }

.jupiter-dot {
  background: #ECAD7A; }

.saturn-dot {
  background: #FCCB6B; }

.uranus-dot {
  background: #65F0D5; }

.neptune-dot {
  background: #497EFA; }

.mercury-select-bg {
  background: #419EBB !important; }

.venus-select-bg {
  background: #EDA249 !important; }

.earth-select-bg {
  background: #6D2ED5 !important; }

.mars-select-bg {
  background: #D14C32 !important; }

.jupiter-select-bg {
  background: #D83A34 !important; }

.saturn-select-bg {
  background: #CD5120 !important; }

.uranus-select-bg {
  background: #1EC1A2 !important; }

.neptune-select-bg {
  background: #2D68F0 !important; }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3), (max-device-width: 667px), (max-width: 767px) {
  .mercury-select-bg {
    background: none !important;
    border-bottom: 4px solid #419EBB !important; }
  .venus-select-bg {
    background: none !important;
    border-bottom: 4px solid #EDA249 !important; }
  .earth-select-bg {
    background: none !important;
    border-bottom: 4px solid #6D2ED5 !important; }
  .mars-select-bg {
    background: none !important;
    border-bottom: 4px solid #D14C32 !important; }
  .jupiter-select-bg {
    background: none !important;
    border-bottom: 4px solid #D83A34 !important; }
  .saturn-select-bg {
    background: none !important;
    border-bottom: 4px solid #CD5120 !important; }
  .uranus-select-bg {
    background: none !important;
    border-bottom: 4px solid #1EC1A2 !important; }
  .neptune-select-bg {
    background: none !important;
    border-bottom: 4px solid #2D68F0 !important; } }

.mercury-border-top {
  border-top: 4px solid #419EBB !important; }

.venus-border-top {
  border-top: 4px solid #EDA249 !important; }

.earth-border-top {
  border-top: 4px solid #6D2ED5 !important; }

.mars-border-top {
  border-top: 4px solid #D14C32 !important; }

.jupiter-border-top {
  border-top: 4px solid #D83A34 !important; }

.saturn-border-top {
  border-top: 4px solid #CD5120 !important; }

.uranus-border-top {
  border-top: 4px solid #1EC1A2 !important; }

.neptune-border-top {
  border-top: 4px solid #2D68F0 !important; }

@media only screen and (min-device-width: 768px) and (min-width: 768px) and (max-width: 921px) {
  h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5em; }
  p {
    line-height: 1.5em; }
  .app-container {
    height: 100%;
    background: #070724; }
    .app-container .app-menu-top {
      display: flex;
      flex-flow: column;
      border-bottom: 1px solid rgba(151, 151, 151, 0.3);
      padding: 1.5em 1em 1em 1em;
      background: url("../assets/background-stars.svg") no-repeat left top; }
      .app-container .app-menu-top .app-menu-text-mobile {
        display: none;
        visibility: hidden; }
      .app-container .app-menu-top .app-menu-icon-mobile {
        display: none;
        visibility: hidden; }
      .app-container .app-menu-top .app-menu-text-tablet {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center; }
        .app-container .app-menu-top .app-menu-text-tablet h3 {
          font-size: 28px; }
      .app-container .app-menu-top .app-menu-planet-selector-tablet {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        font-size: 11px;
        opacity: .8;
        letter-spacing: 1px;
        font-family: "Spartan", sans-serif;
        padding-top: 2em; }
        .app-container .app-menu-top .app-menu-planet-selector-tablet .app-menu-planet-select {
          display: flex;
          flex-flow: row;
          align-items: flex-end;
          padding-top: 2em; }
    .app-container .app-menu-planet-wrapper {
      display: flex;
      flex-flow: column;
      font-family: "Spartan", sans-serif;
      font-weight: 600;
      padding: 1em 0em 5em 0em;
      margin: 0em 2em; }
      .app-container .app-menu-planet-wrapper .app-menu-planet-box {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(151, 151, 151, 0.3);
        margin: 0em 1em;
        padding: 2em 0em; }
        .app-container .app-menu-planet-wrapper .app-menu-planet-box .app-menu-planet-dot {
          flex-basis: 15%; }
          .app-container .app-menu-planet-wrapper .app-menu-planet-box .app-menu-planet-dot .app-menu-dot {
            width: 20px;
            height: 20px;
            border-radius: 50px; }
        .app-container .app-menu-planet-wrapper .app-menu-planet-box .app-menu-planet-text {
          flex: 1; }
          .app-container .app-menu-planet-wrapper .app-menu-planet-box .app-menu-planet-text p {
            font-size: 15px; }
    .app-container .planet-page-info-container {
      display: flex;
      flex-flow: column;
      background: url("../assets/background-stars.svg");
      height: 100%; }
      .app-container .planet-page-info-container .planet-page-info-select-box-mobile {
        display: none;
        visibility: hidden; }
      .app-container .planet-page-info-container .planet-page-planet-image-desktop {
        display: none;
        visibility: hidden; }
      .app-container .planet-page-info-container .planet-page-planet-image {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        padding: 8em 0em; }
        .app-container .planet-page-info-container .planet-page-planet-image img {
          width: 30%;
          height: auto;
          object-fit: cover; }
      .app-container .planet-page-info-container .planet-page-text-info-mobile {
        display: none;
        visibility: hidden; }
      .app-container .planet-page-info-container .planet-page-text-info-tablet {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        margin: 0em 2em; }
        .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info {
          display: flex;
          flex-flow: column;
          flex: 1; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info .planet-page-planet-name {
            font-family: "Antonio", sans-serif; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info h1 {
            font-size: 48px;
            font-weight: 800;
            padding: 0em 0em .5em 0em; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info .planet-page-planet-bio {
            margin-right: 1em; }
            .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info .planet-page-planet-bio p {
              font-size: 11px;
              font-family: "Spartan", sans-serif;
              line-height: 22px;
              text-align: left;
              font-weight: 300; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info .planet-page-planet-wiki {
            display: flex;
            flex-flow: row;
            align-items: center;
            padding: 2em 0em 2em 0em;
            font-size: 12px;
            font-family: "Spartan", sans-serif;
            font-weight: 300;
            opacity: .5; }
            .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info .planet-page-planet-wiki span {
              text-decoration: underline;
              font-weight: 800;
              padding-right: .5em; }
        .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-info-select-box-tablet {
          display: flex;
          flex-flow: column;
          flex: 1; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-info-select-box-tablet .selected {
            background: #6D2ED5 !important; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-info-select-box-tablet .planet-page-info-select:hover {
            background: #1d1d1d;
            cursor: pointer; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-info-select-box-tablet .planet-page-info-select {
            display: flex;
            flex-flow: row;
            align-items: center;
            font-size: 9px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            margin: 1em 0% 1em 10%;
            font-family: "Spartan", sans-serif;
            letter-spacing: 1.93px;
            height: 40px; }
            .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-info-select-box-tablet .planet-page-info-select span {
              opacity: .5;
              flex-basis: 20%;
              text-align: center;
              width: 100%;
              height: 100%;
              display: flex;
              flex-flow: row;
              align-items: center;
              justify-content: center; }
            .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-info-select-box-tablet .planet-page-info-select p {
              flex-basis: 80%;
              font-weight: 600;
              height: 100%;
              display: flex;
              flex-flow: row;
              align-items: center; }
      .app-container .planet-page-info-container .planet-page-stat-box {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin: 1em 2em 0em 2em;
        gap: 10px; }
        .app-container .planet-page-info-container .planet-page-stat-box .planet-page-stat {
          display: flex;
          flex-flow: column wrap;
          border: 1px solid rgba(151, 151, 151, 0.3);
          padding: 1em;
          flex-basis: 25%; }
          .app-container .planet-page-info-container .planet-page-stat-box .planet-page-stat .planet-page-stat-name {
            flex: 1;
            font-size: 16px;
            font-weight: 800;
            opacity: .5;
            letter-spacing: .73px; }
          .app-container .planet-page-info-container .planet-page-stat-box .planet-page-stat .planet-page-stat-stat {
            flex: 1;
            text-align: left; } }

.mercury-dot {
  background: #DEF4FC; }

.venus-dot {
  background: #F7CC7F; }

.earth-dot {
  background: #545BFE; }

.mars-dot {
  background: #FF6A45; }

.jupiter-dot {
  background: #ECAD7A; }

.saturn-dot {
  background: #FCCB6B; }

.uranus-dot {
  background: #65F0D5; }

.neptune-dot {
  background: #497EFA; }

.mercury-select-bg {
  background: #419EBB !important; }

.venus-select-bg {
  background: #EDA249 !important; }

.earth-select-bg {
  background: #6D2ED5 !important; }

.mars-select-bg {
  background: #D14C32 !important; }

.jupiter-select-bg {
  background: #D83A34 !important; }

.saturn-select-bg {
  background: #CD5120 !important; }

.uranus-select-bg {
  background: #1EC1A2 !important; }

.neptune-select-bg {
  background: #2D68F0 !important; }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3), (max-device-width: 667px), (max-width: 767px) {
  .mercury-select-bg {
    background: none !important;
    border-bottom: 4px solid #419EBB !important; }
  .venus-select-bg {
    background: none !important;
    border-bottom: 4px solid #EDA249 !important; }
  .earth-select-bg {
    background: none !important;
    border-bottom: 4px solid #6D2ED5 !important; }
  .mars-select-bg {
    background: none !important;
    border-bottom: 4px solid #D14C32 !important; }
  .jupiter-select-bg {
    background: none !important;
    border-bottom: 4px solid #D83A34 !important; }
  .saturn-select-bg {
    background: none !important;
    border-bottom: 4px solid #CD5120 !important; }
  .uranus-select-bg {
    background: none !important;
    border-bottom: 4px solid #1EC1A2 !important; }
  .neptune-select-bg {
    background: none !important;
    border-bottom: 4px solid #2D68F0 !important; } }

.mercury-border-top {
  border-top: 4px solid #419EBB !important; }

.venus-border-top {
  border-top: 4px solid #EDA249 !important; }

.earth-border-top {
  border-top: 4px solid #6D2ED5 !important; }

.mars-border-top {
  border-top: 4px solid #D14C32 !important; }

.jupiter-border-top {
  border-top: 4px solid #D83A34 !important; }

.saturn-border-top {
  border-top: 4px solid #CD5120 !important; }

.uranus-border-top {
  border-top: 4px solid #1EC1A2 !important; }

.neptune-border-top {
  border-top: 4px solid #2D68F0 !important; }

@media only screen and (min-device-width: 922px) and (min-width: 922px) {
  h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5em; }
  p {
    line-height: 1.5em; }
  .app-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    background: #070724; }
    .app-container .app-menu-top {
      display: flex;
      flex-flow: row;
      align-items: center;
      border-bottom: 1px solid rgba(151, 151, 151, 0.3);
      padding: 1.5em 1em 1em 1em;
      background: url("../assets/background-stars.svg") no-repeat left top; }
      .app-container .app-menu-top .app-menu-text-mobile {
        display: none;
        visibility: hidden; }
      .app-container .app-menu-top .app-menu-icon-mobile {
        display: none;
        visibility: hidden; }
      .app-container .app-menu-top .app-menu-text-tablet {
        width: 100%;
        display: flex;
        flex-flow: row; }
        .app-container .app-menu-top .app-menu-text-tablet h3 {
          font-size: 28px; }
      .app-container .app-menu-top .app-menu-planet-selector-tablet {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-content: center;
        font-size: 9px;
        opacity: .8;
        letter-spacing: 1px;
        font-family: "Spartan", sans-serif;
        flex-basis: 100%;
        height: 100%; }
        .app-container .app-menu-top .app-menu-planet-selector-tablet .app-menu-planet-select {
          display: flex;
          flex-flow: column;
          justify-content: center; }
    .app-container .app-menu-planet-wrapper {
      display: flex;
      flex-flow: column;
      font-family: "Spartan", sans-serif;
      font-weight: 600;
      padding: 1em 0em 0em 0em;
      margin: 0em 2em; }
      .app-container .app-menu-planet-wrapper .app-menu-planet-box {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(151, 151, 151, 0.3);
        margin: 0em 1em;
        padding: 2em 0em; }
        .app-container .app-menu-planet-wrapper .app-menu-planet-box .app-menu-planet-dot {
          flex-basis: 10%; }
          .app-container .app-menu-planet-wrapper .app-menu-planet-box .app-menu-planet-dot .app-menu-dot {
            width: 20px;
            height: 20px;
            border-radius: 50px; }
        .app-container .app-menu-planet-wrapper .app-menu-planet-box .app-menu-planet-text {
          flex: 1; }
          .app-container .app-menu-planet-wrapper .app-menu-planet-box .app-menu-planet-text p {
            font-size: 15px; }
    .app-container .planet-page-info-container {
      display: flex;
      flex-flow: row wrap;
      flex: 1;
      background: url("../assets/background-stars.svg");
      margin: 5em 2em; }
      .app-container .planet-page-info-container .planet-page-info-select-box-mobile {
        display: none;
        visibility: hidden; }
      .app-container .planet-page-info-container .planet-page-planet-image {
        display: none;
        visibility: hidden; }
      .app-container .planet-page-info-container .planet-page-planet-image-desktop {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        flex-basis: 50%; }
        .app-container .planet-page-info-container .planet-page-planet-image-desktop img {
          width: 50%;
          height: auto;
          object-fit: cover; }
      .app-container .planet-page-info-container .planet-page-text-info-mobile {
        display: none;
        visibility: hidden; }
      .app-container .planet-page-info-container .planet-page-text-info-tablet {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        flex-basis: 50%; }
        .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          flex-basis: 100%;
          margin-left: 8em;
          gap: 20px; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info .planet-page-planet-name {
            font-family: "Antonio", sans-serif; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info h1 {
            font-size: 48px;
            font-weight: 800; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info .planet-page-planet-bio p {
            font-size: 11px;
            font-family: "Spartan", sans-serif;
            line-height: 22px;
            text-align: left;
            font-weight: 300; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info .planet-page-planet-wiki {
            display: flex;
            flex-flow: row;
            align-items: center;
            font-size: 12px;
            font-family: "Spartan", sans-serif;
            font-weight: 300;
            opacity: .5; }
            .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-text-info .planet-page-planet-wiki span {
              text-decoration: underline;
              font-weight: 800;
              padding-right: .5em; }
        .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-info-select-box-tablet {
          display: flex;
          flex-flow: column;
          flex-basis: 100%;
          margin-left: 8em;
          gap: 10px; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-info-select-box-tablet .planet-page-info-select:hover {
            background: #1d1d1d;
            cursor: pointer; }
          .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-info-select-box-tablet .planet-page-info-select {
            display: flex;
            flex-flow: row;
            align-items: center;
            font-size: 9px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            font-family: "Spartan", sans-serif;
            letter-spacing: 1.93px;
            height: 40px; }
            .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-info-select-box-tablet .planet-page-info-select span {
              opacity: .5;
              flex-basis: 20%;
              text-align: center;
              width: 100%;
              height: 100%;
              display: flex;
              flex-flow: row;
              align-items: center;
              justify-content: center; }
            .app-container .planet-page-info-container .planet-page-text-info-tablet .planet-page-info-select-box-tablet .planet-page-info-select p {
              flex-basis: 80%;
              font-weight: 600;
              height: 100%;
              display: flex;
              flex-flow: row;
              align-items: center; }
      .app-container .planet-page-info-container .planet-page-stat-box {
        display: flex;
        flex-flow: row;
        flex-basis: 100%;
        justify-content: space-between;
        align-self: flex-end;
        gap: 10px; }
        .app-container .planet-page-info-container .planet-page-stat-box .planet-page-stat {
          display: flex;
          flex-flow: column;
          border: 1px solid rgba(151, 151, 151, 0.3);
          padding: 1em 5em 1em 1em; }
          .app-container .planet-page-info-container .planet-page-stat-box .planet-page-stat .planet-page-stat-name {
            font-size: 16px;
            font-weight: 800;
            opacity: .5;
            letter-spacing: .73px; }
          .app-container .planet-page-info-container .planet-page-stat-box .planet-page-stat .planet-page-stat-stat {
            text-align: left; } }

/*
                 */
@media only screen and (min-device-width: 1200px) and (min-width: 1200px) {
  .app-container .planet-page-info-container {
    padding: 5em 10%;
    margin: 0em; }
  .app-container .app-menu-planet-wrapper {
    margin: 0em 10%; } }

@media only screen and (min-device-width: 1400px) and (min-width: 1400px) {
  .app-container .planet-page-info-container {
    padding: 5em 15%;
    margin: 0em; }
  .app-container .app-menu-planet-wrapper {
    margin: 0em 15%; } }

@media only screen and (min-device-width: 1600px) and (min-width: 1600px) {
  .app-container .planet-page-info-container {
    padding: 5em 20%;
    margin: 0em; }
  .app-container .app-menu-planet-wrapper {
    margin: 0em 20%; } }
